    @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        font-family: 'Arimo', sans-serif;
    }
    
    .contenner {
        margin: auto;
        width: 1440px;
    }
    
    .title3 {
        text-align: center;
        margin: 30px 0;
        line-height: 50px;
    }
    
    .banner {
        text-align: center;
        margin: 30 50px;
    }
    
    .conten0 {
        padding: 30px 0;
        font-size: 26px;
        margin: 0 50px;
        line-height: 30px;
    }
    
    .khoi3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    
    hr {
        opacity: 80px;
        margin-top: 20px;
        margin: 0 50px;
    }
    
    .span {
        padding: 20px;
        text-align: right;
        margin-right: 30px;
    }
    
    .guiphanhoi {
        text-align: center;
        font-size: 28px;
    }
    
    .span2 {
        font-size: 20px;
    }
    
    .ttlienquan {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 100px;
        grid-gap: 50px;
        margin: 40px 50px;
    }
    
    .baiviet img {
        width: 100%;
    }
    
    .ttbaiviet {
        text-align: center;
        font-size: 28px;
        padding: 20px 0;
    }
    
    .chiakhoi {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #form1 {
        margin: 50px;
    }
    
    input[type=text] {
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        height: 50px;
        font-size: 20px;
        padding-left: 20px;
    }
    
    input[type=text]:focus {
        outline: none;
    }
    
    #submit {
        width: 306px;
        height: 73px;
        background-color: #000000;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
        margin: 30px 0;
    }
    
    .span2 {
        padding: 20px 50px;
        color: #999494;
    }
    
    .bl {
        text-align: center;
    }
    
    .formbl input {
        width: 90%;
    }
    
    .chiakhoi input {
        width: 80%;
    }
    
    label {
        font-size: 20px;
    }
    
    .so1 {
        margin: 20px 0;
    }
    
    .conten3 {
        line-height: 30px;
    }