a{
    text-decoration: none;
 
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
:root{
    --black: #000;
    --bg: #f2f2f2;
    --white: #fff;
    --red: #f33;

}

.info{
   margin: auto;
   min-height: 700px;
display: grid;
grid-template-columns: 330px 1fr ;
}

.menu_info{
    max-width: 300px;
}
.info-detail{
    margin-left: 30px;
    margin-top: 30px;
}
.menu_info ul li {
list-style: none;
padding: 25px;
cursor: pointer;
}

.menu_info ul li a{
   font-weight: 100;
    color: var(--black);
    font-family: 'Arimo', sans-serif;
}
.menu_info  ul li:hover a{
 color: var(--red);
}
.menu_info ul li a ion-icon{
    font-size: 22px;
    align-content: center;
}
@media screen and (max-width: 600px){
    .info{
        grid-template-columns: 1fr;
    }
    
}