:root{
    --white: #fff;
    --black: #000;
    --bginput: #f7f7f7;
    --border: #C0BBBB;
}
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
.profile{
background-color: var(--white);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 1px solid #DFDFDF;
padding-left: 40px;
max-width: 915px;
min-height: 500px;
}
form{
    display: flex;
    
}
.title-profile {
     border-bottom: 1px solid var(--border);
     width: 98%;
}
.title-profile h3{
    font-family: 'Arimo', sans-serif;
    font-weight: 200;
}
.form-left{
width: 50%;
padding-right: 30px;
}

.form-text{

}
.form-group{
    line-height: 35px;
   

}
label{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}
.form-input{
 background-color: var(--bginput);
 border: none;
 width: 100%;
 border-radius: 5px;
 
 padding: 8px;

 list-style: none;
}
.save{
    padding-bottom: 10px;
    position: relative;

}
.save button{
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    position: absolute;
   font-weight: 500;
   
}
.save button:hover{
  transition: 0.5s;
  border: 1px solid var(--red);
  transition: 0.5s;
  color: var(--black);
  background-color: rgba(255, 255, 255, 0);
}


.form-right{
    text-align: center;
    margin-top: 20px;
border-left: 1px solid var(--border);
padding-left: 100px;
}
.image-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media screen and (max-width: 990px){
 
form{
    flex-direction: column-reverse;
}    
.form-right{
    border-left: none;
    margin-left: -80px;
}   
}