@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

button{
    cursor: pointer;

}
a{
    text-decoration: none;
}
:root{
    --black: #000;
}
:root{
    --bgbutton: #DECDA6;
}
:root{
    --bgproduct: #FFF7F3;
}
:root{
    --bgwhite: #fff;
}
.introduce {
    width: 100%;
    margin: auto;
    background-color: var(--bgwhite);
}
.intro_header{
    margin: auto;
    text-align: center;
}
.intro_header{
    max-width: 1300px;
}
.intro_header_img {
    max-width: 100%;
    margin: auto;
}
.intro_header_img img{
    max-width: 100%;
width: 200px;
}
.intro_header_title p{
 font-family: 'Arimo', sans-serif;
    font-size: 40px;
    color: var(--black);
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.intro_header_content p{
    font-family: 'Arimo', sans-serif;

    font-size: 21px;
    line-height: 30px;
    letter-spacing: 1px;
}
.main_introduce{
    margin: auto;
}
.main_introduce_story{
    max-width: 1300px;
  
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    
}
.main_introduce_img{
    margin: auto;
    margin-right: 75px;
    max-width: 480px;
    width: 480px;
}
.main_introduce_img img{
}
.main_introduce_title h3{
    font-family: 'Arimo-light', sans-serif;

    font-weight: 100;
    font-size: 25px;
}
/* .main_introduce_title h3:hover{
    color: 
} */
.main_introduce_title p {
    font-family: 'Arimo-italic', sans-serif;

    font-size: 30px;
    width: 300px;
}
.main_introduce_title p a{
    color: var(--black);
}
.story_content{
    font-family: 'Arimo-italic', sans-serif;

}

.readmore{
    background-color: var(--bgbutton);
    color: var(--black);
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
}
.readmore:hover{
transition: 0.5s;
    background-color: var(--black);
    color: var(--bgwhite);
}
.main_introduce_info{
    justify-content: space-between;
    display: flex;
    max-width: 1300px;
    margin: auto;
}
.info-flex{
    display: flex;
  
}
.info-text{
    margin-top: 10px;
}
.info-text h3{
    font-family: 'Arimo-light-italic', sans-serif;

}
.info-text p{
    font-family: 'Arimo-light-italic', sans-serif;

    font-size: 14px;
    color: #3F3C3C;
}
.intro_title_product{
    text-align: center;
    padding-top: 10px;
}
.intro_title_product h2{
    font-family: 'Arimo-light-italic', sans-serif;

    color: #c0bbb9;
    font-weight: 100;
}
.intro_product{
    background-color: var(--bgproduct);
    width: 100%;
 height: 580px;
    margin: auto;
}
.slick-initialized .slick-slide {
    outline: none;
padding-bottom: 30px; 
  margin: 0 25px;
}
.image-slider{

}
.it_product_img{
    height: 420px;
 margin-bottom: 20px;
 cursor: pointer;
}
.it_product_img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.it_product_img img{
    width: 300px;
    height: 420px;
    border-radius: 10px;
    margin: 0 5px;
    object-fit: cover;
}
.slick-arrow{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(51, 51, 51, 0);
    color: var(--black);
 font-size: 25px;    
    border: none;
    z-index: 2;
    padding: 5px;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
    display: flex !important;
    align-items: center;
    gap: 0 20px;
    justify-content: center;
 list-style: none;
}
.slick-dots button{
    font-size: 0;
width: 15px;
height: 15px;
border-radius: 100rem;
border: none;
outline: none;
background-color: var(--bgwhite);    
}
.slick-dots .slick-active button{
    background-color: var(--bgbutton);
}
.discover{
margin: auto;
max-width: 1300px;
text-align: center;
}
.discover .discover_title{
text-align: center;
}
.discover_title h3{
    font-family: 'Arimo-light-italic', sans-serif;

    font-size: 30px;
    color: var(--black);
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    
}
.discoverif{
    display: flex;
justify-content: center;
gap: 10%;
}

.discover_text p a{
    font-family: 'Arimo-italic', sans-serif;

    font-size: 20px;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
}
.discover_text span a{
    text-align: center;
 font-family: 'Arimo-light', sans-serif;

    color: #696969;
}
.discover_img{
    cursor: pointer;
 overflow: hidden;
}
.discover_img img{
width: 100%;
max-width: 480px;
    object-fit: cover;
}
.discover_img img:hover{
    opacity: 0.8;
    transition: 0.5s;
    transform: scale(1.1);
}
@media screen and (max-width: 768px){
    .intro_header_title p{
        font-size: 25px;
    }
    .intro_header_content p{
        font-size: 15px;
    }
    .main_introduce_img img{
        max-width: 100%;
        width: 380px;
    }
    .main_introduce_story{
        flex-direction: column;
    }

    .main_introduce_info{
        display: flex;
        flex-direction: column;
    }
    .info-flex  {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .discoverif{
        gap: 5%;
        display: flex;
        flex-direction: column;
    }
    .intro_title_product h2{
        font-size: 20px;
    }
    .slick-initialized .slick-slide {
     
        margin: 0 60px;
    }
    .slick-arrow{
        display: none;
    }
 
}
    
